body {
    margin: 0;
    padding: 0;
    font-family: "Sour Gummy", sans-serif;
}

p, h1 {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    background-color: white;
    padding: 15px;
}

.navbar-link{
    font-size: 30px;
    cursor: pointer;
}

.navbar-link:hover{
    text-shadow: 2px 2px 5px darkblue;
}

.link-container {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
}

.hero-image {
    width: 100%;
    filter: blur(1.5px);
}

.hero-wrapper {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: -4px;
}

.hero-title, .hero-subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    font-size: 13vw;
    white-space: nowrap;
    font-family: "Meow Script", cursive;
}

.hero-subtitle {
    transform: translate(-50%, -20%);
    font-size: 4vw;
    font-family: "Sour Gummy", sans-serif;
}

.hero-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    border: none;
    border-radius: 10px;
    background: #574ed9;
    padding: 10px;
    font-family: "Sour Gummy", sans-serif;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.2s, background-color 0.2s;
    font-size: 25px;
}

.hero-button:hover {
    box-shadow: 2px 2px 5px black;
    background-color: darkblue;
}

.page-break {
    border: 10px solid lightblue;
    margin: 0;
    margin-bottom: 1px;
}

.about {
    text-align: center;
    font-size: 45px;
    border-bottom: 5px solid black;
}

.about-me-image{
    width: 50%;
}

.info-section {
    display: flex;
}

.about-me-text {
    padding: 10px;
    font-size: 20px;
}